@media screen and (max-width: 999px){

	.content {
    	padding: 0 20px;
  	}

	.container{
		max-width: 768px;
	}

	.hidden-btn {
    	position: absolute;
    	right: 20px;
  	}

	.main{
		padding-top: 100px;
	}

	.upside{
		padding-top: 0;
	}

	.project__desc-wrap{
		padding-left: 35px;
	}

	.btn{
		font-size: 1.5rem;
		margin-top: 30px;
	}

	.slick-list{
		max-width: 682px;
	}

}

@media screen and (max-width: 850px) {


  /*
        HEADER
  */
  .header {
    margin-top: 0px;
  }

  .header--open {
    margin-top: -124px;
  }

  .content--top-header {
    flex-wrap: wrap;
  }

  .logo-wrap {
    order: 1;
    transition: opacity .5s ease-out;
  }

  .nav {
    order: 3;
    right: 0;
    background: #fff;
  }

  .nav--open {
    right: 70%;
  }

  .lang-block{
		position: absolute;
    	opacity: 0;
    	transition: all .5s;
    	right: -100px;
	}

  .menu {
    display: block;
  }

  .nav__list {
    position: absolute;
    top: 0;
    right: -700px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    z-index: 999;
    width: 680px;
    justify-content: flex-start;
    margin-top: 84px;
    overflow-y: scroll;
    height: 100vh;
  }

  .nav__link {
    font-size: 1.5rem;
    border-top: 1px dotted #D9D9D9;
    padding-left: 35px;
    line-height: 4rem;
  }

  .active:before {
    left: 7px;
  }

  .logo--hide {
    opacity: 0;
  }

  .lang-block--mobile {
    opacity: 1;
    position: absolute;
    right: 15px;
  }

  .lang-block--mobile .lang-block__link{
  	font-size: 1.25rem;
  }

  .footer {
    padding: 10px 0;
  }

  .footer__copyright {
    margin-top: 20px;
  }

  .content--footer {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-align-items: center;
    align-items: center;
  }

@media screen and (max-width: 767px){

	.container{
		width: 100%;
	}

	.main{
		padding-top: 115px;
	}

	.project__item-wrap{
		flex-wrap: wrap;
		justify-content: center;
	}

	.project__desc-wrap{
		padding: 0;
	}

	.slider__item img{
		margin: 0 auto;
	}

	.modal-form{
		width: 380px;
	}

}

@media screen and (max-width: 480px) {

  .footer__nav-list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }

  .footer__nav-link {
    line-height: 2.3rem;
  }
}

@media screen and (max-width: 427px){


	.upside{
		padding-top: 0;
	}

	.project__img img{
		width: 100%;
	}
	
	.project__desc-wrap{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.modal-form{
		width: 95%;
		padding: 55px 10px 20px 10px;
	}

	.modal-form__btn{
		width: 100%;
		margin: 16px auto 0 auto;
	}
}
