@font-face {
	font-family: "LatoRegular";
	 src: url("Lato-Regular.woff") format("woff"),
		    url("Lato-Regular.woff2") format("woff2"),
				url("Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LatoLight";
	src: url("Lato-Light.woff") format("woff"),
		   url("Lato-Light.woff2") format("woff2"),
			 url("Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
